@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
}


.Inter {
  font-family: "Inter", serif;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}


.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  /* Adjust distance below text */
  height: 3px;
  /* Thickness of underline */
  background-color: #2FA94C;
  /* Green underline */
  border-radius: 2px;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
}


.pbmit-sticky-corner {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(-90deg);
}

.pbmit-sticky-center {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(-180deg);
}

.pbmit-sticky-corner-bottom {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(90deg);
}

.pbmit-sticky-corner-bottom-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(-360deg);
}

.WHM-sticky-corner {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(360deg);
}
